<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> car  Showroom</title>
     
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <!-- nav-bar -->
    <nav>
      <div class="logo" >
        <i class="fa-brands fa-slack logo-1" style="color: #f24005;"></i>
        <H1><a href="">BOXCARS</a></H1>
      </div>
      <div>
        <ul>
            <li> <a href="#">Home</a></li>
            <li><a href="#carGallery   ">Premium</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About us</a></li>
        </ul>
      </div>
      <div>
        <button class="btn"><a href="">logout</a></button>
      </div>
    </nav>
    <!-- nav end -->
     <section class="main-section">
        <div class="  main-heading">
            <div class="car-heading">
                <h1>Find Your  Dream Car </h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ad <br>accusamus nemo incidunt provident iure dolorum repellat voluptates reprehenderit at.</p>
              <button class="btn-1"><a href="">Learn More</a></button>
            </div>
            <div class="">
                <img src="./image/car-30984_640.png" alt="" class="car">
            </div>
         </div>
  </section>
  <!-- main end -->
   <section class="awesome-features">
    <h2>Awesome Features</h2>
    <div class="features">
        <div class="park"> 
          <i class="fa-solid fa-square-parking logo-2" style="color: #f24005";></i>
          <h3>park Assist</h3>
          <p>Lorem ipsum dolor, sit amet  consectetur<br> adipisicing elit. Earum ea Lorem <br> ipsum dolor sit amet. </p>
        </div>
        <div class="park"> 
          <i class="fa-solid fa-windows logo-2" style="color: #f24005";></i>
          <h3>Power Windows</h3>
          <p>Lorem ipsum dolor, sit amet  consectetur<br> adipisicing elit. Earum ea Lorem <br> ipsum dolor sit amet. </p>
        </div>
        <div class="park"> 
          <i class="fa-solid fa-sun logo-2" style="color: #f24005";></i>
          <h3>SunRoof</h3>
          <p>Lorem ipsum dolor, sit amet  consectetur<br> adipisicing elit. Earum ea Lorem <br> ipsum dolor sit amet.</p>
        </div>
        <div class="park"> 
          <i class="fa-solid fa-smog logo-2" style="color: #f24005";></i>
          <h3>Climate control</h3>
          <p>Lorem ipsum dolor, sit amet  consectetur<br> adipisicing elit. Earum ea Lorem <br> ipsum dolor sit amet. </p>
        </div>
        
     </div>
   </section>
   <!-- end -->
   <section class="services ">
    <div class="car-services">
      <div>
        <img src="./image/car-160895_640.png" alt=""class="car-2">
      </div>
      <div >
        <h2>All the services we will <br> provided you </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Incidunt laudantium quas magnam consequuntur vitae <br> nulla suscipit aliquam neque aperiam saepe.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Incidunt laudantium quas magnam consequuntur vitae <br> nulla suscipit aliquam neque aperiam saepe.</p>
        <button class="btn-1"><a href="">Get started</a></button>
      </div>
       </div>
   </section>
   <!-- end -->



   <!-- dfsf -->
<div class="box">
    <div id="carGallery" class="box-upper" style="display: flex;"></div>
   
        <button  id="prevBtn">gsfsfsf</button>
        <button  id="nextBtn">gwrwrwrw</button>
   
</div>


  <!-- fsfsf -->




    <!-- <section class=" section-end"></section>\ -->
    <!-- end -->
     <footer class="footer">
       <div class="section-footer">

        <div class="footer-1">
          <h3>About</h3>
          <p>How it work</p>
          <p>Career</p>
          <p>About Us</p>
          <p>Media</p>
        </div>
        <div class="footer-1">
          <h3>Community</h3>
          <p>Against Discrimination </p>
          <p>Invite Friend</p>
          <p>Gift Cars</p>
          <p> Many more</p>
         </div>
        <div class="footer-1">
          <h3>Become Seller</h3>
          <p>Add your vehicle</p>
          <p>Bysiness Accountv</p>
          <p>Resource Center</p>
          <p>Community</p>
        </div>
        <div class="footer-1">
          <h3>Booking Support</h3>
          <p>Updates</p>
          <p>Help Center</p>
          <p>Support</p>
          <p>Trust & sAFETY</p>
        </div>
        
      </div>
      
      <div class="copywrite">
        <p>&copy; 2024 All rights reserverd</p>
      </div>
     </footer>
    <script src="/javascript/premium.js"></script>
   
</body>
</html>      